.canvas-holder input[type=button] {
    min-width: 100px;
    height: 40px;
    background: linear-gradient(0, rgba(240, 240, 240, 0.7), rgba(243, 148, 255, 0.9));
    border-bottom: 2px solid rgb(32, 69, 145);
    border-right: 2px solid gray;
}

.canvas-holder [type=button]:hover {
    background: linear-gradient(0, rgb(240, 240, 240), rgb(142, 255, 252));
}

.canvas-holder {
    background: black;
    position: relative;

}
.filtered {
	background: rgba(0, 0, 0, 0.42);
	color:white;
}
.popover-content,.popover-title{
	color:#333
}
#blurb {
	padding:10px
}
.close {
	position:absolute;
	right:10px;top:10px
}
.view-animate-container {
  position:relative;
  min-height:100px!important;
}

.view-animate {
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}
body {
    padding-top:66px;
    overflow-x:hidden;
}
html{
    overflow-x:hidden
}
